<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <style>
        body {
            margin: 0;
        }

        .splash-container {
            position: relative;
            width: 100%;
            height: 100%;
            background: 2E7D32;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }

            .splash-container .title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
            }

                .splash-container .title h1 {
                    margin-bottom: 0px;
                }

                .splash-container .title h4 {
                    margin: 0px;
                    color: lightgrey;
                    text-transform: uppercase;
                }

                .splash-container .title img {
                    width: 250px;
                    height: 250px;
                    border: solid 3px white;
                    border-radius: 50%;
                    -webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
                    box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
                }

            .splash-container .links {
                position: absolute;
                top: 0;
                right: 0px;
                background-color: rgba(0,0,0, 0.15);
                padding: 15px;
                border-radius: 0 0 0 10px;
                color: white;
            }

                .splash-container .links ul {
                    display: block;
                    padding: 0;
                    margin: 0;
                }

                    .splash-container .links ul li {
                        display: inline;
                        font-size: 22px;
                        padding: 0px 15px;
                    }

                        .splash-container .links ul li a {
                            text-decoration: none;
                            color: white;
                        }
    </style>
</head>
<body>
    <div class="splash-container">
        <div class="title">
            <img src="~/images/myAvatar.png">
            <h1>
                Brad Cooper
            </h1>
            <h4>
                A human being
            </h4>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a href="www.facebook.com"></a>
                    <i class="fab fa-facebook-square"></i>
                </li>
                <li>
                    <a href="www.youtube.com"></a>
                    <i class="fab fa-youtube"></i>
                </li>
                <li>
                    <a href="www.github.com"></a>
                    <i class="fab fa-github"></i>
                </li>
            </ul>
        </div>

    </div>
</body>
</html>